{
    ApplicationDescription = "A Terminal Emulator for NeXTSPACE OS";
    ApplicationIcon = Terminal;
    ApplicationName = Terminal;
    ApplicationRelease = "1.0.0";
    ApplicationURL = "http://www.nongnu.org/terminal/";
    Authors = (
	"Alexander Malmberg <alex@malmberg.org>",
	"Sergii Stoian <stoyan255@ukr.net>",
        "The NeXTSPACE OS Project"

    );
    Copyright = "Copyright \u00a9 2002, 2003 Alexander Malmberg <alex@malmberg.org>";
    CopyrightDescription = "Released under the GNU GPL. See COPYING for details.";
    FullVersionID = "1.0.0";
}

